Package: iptables-rules
Version: 0.1.1
Architecture: amd64
Maintainer: Evgeniy Slizevich <evgeniy@slizevich.net>
Installed-Size: 32
Depends: iptables, ipset
Section: net
Priority: extra
Homepage: https://github.com/ffaxl/iptables-rules
Description: iptables rules & ipset loader
 It loads iptables rules and ipsets from iptables.d directory.
